<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>-_-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{35,35},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platform_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,32}</string>
                <key>spriteSourceSize</key>
                <string>{80,32}</string>
                <key>textureRect</key>
                <string>{{35,1},{80,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platform_ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>worldObjSheet.png</string>
            <key>size</key>
            <string>{116,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af3ed3b36d1f1af8ae5cec498ffb0a87:60e8aaf6127346ca705de09f2963964d:02ebaf0f0a61fc0a39d900651302176b$</string>
            <key>textureFileName</key>
            <string>worldObjSheet.png</string>
        </dict>
    </dict>
</plist>
